lorawan/node-red/lorawanproc.json
[
    {"id":"4e91dd5ffb6a9ee8","type":"mqtt-broker","name":"mqtt.tableman.com","broker":"mqtt.tableman.com","port":1883,"clientid":"node-red","autoConnect":true,"usetls":false,"protocolVersion":"5","keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},
    {"id":"06ca5eecb8aa7fcb","type":"inject","z":"lorawan_tab_001","name":"Test lr-temp-humid-001","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"end_device_ids\":{\"device_id\":\"lr-temp-humid-001\",\"application_ids\":{\"application_id\":\"my-app-tobi\"}},\"received_at\":\"2026-02-03T00:20:16.612387242Z\",\"uplink_message\":{\"f_port\":2,\"decoded_payload\":{\"BatV\":3.6,\"Hum_SHT31\":94.4,\"TempC_SHT31\":3.5},\"locations\":{\"user\":{\"latitude\":48.7214,\"longitude\":-122.0198,\"altitude\":1442}},\"attributes\":{\"name\":\"North Twin Approach\"}}}","payloadType":"json","x":190,"y":440,"wires":[["lorawan_func_001"]]},
    {"id":"59e9bde760cf10eb","type":"inject","z":"lorawan_tab_001","name":"Test lr-distance-sensor","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"end_device_ids\":{\"device_id\":\"lr-distance-sensor\",\"application_ids\":{\"application_id\":\"my-app-tobi\"}},\"received_at\":\"2026-02-03T01:05:19.062496974Z\",\"uplink_message\":{\"f_port\":2,\"decoded_payload\":{\"Bat\":3.331,\"Distance\":1348,\"TempC_DS18B20\":32.76},\"locations\":{\"user\":{\"latitude\":48.7214,\"longitude\":-122.0198,\"altitude\":1442}},\"attributes\":{\"name\":\"Snow Depth Sensor\"}}}","payloadType":"json","x":200,"y":480,"wires":[["lorawan_func_001"]]},
    {"id":"lorawan_mqtt_001","type":"mqtt in","z":"lorawan_tab_001","name":"TTN uplinks","topic":"v3/my-app-tobi@ttn/devices/+/up","qos":"0","datatype":"json","broker":"4e91dd5ffb6a9ee8","nl":false,"rap":false,"rh":0,"inputs":0,"x":350,"y":100,"wires":[["lorawan_func_001","e73e98078c7903ed"]]},
    {"id":"lorawan_func_001","type":"function","z":"lorawan_tab_001","name":"Extract and store (last 20)","func":"const MAX = 20;\nconst raw = typeof msg.payload === 'string' ? JSON.parse(msg.payload) : msg.payload;\nconst p = raw && raw.payload && raw.payload.end_device_ids ? raw.payload : raw;\nif (!p || !p.end_device_ids || !p.uplink_message) return null;\nconst um = p.uplink_message;\nconst deviceId = p.end_device_ids.device_id;\nconst nameAttr = um.attributes?.name ?? p.attributes?.name;\nconst sensorName = (nameAttr != null && String(nameAttr).trim() !== '') ? String(nameAttr).trim() : deviceId;\nconst receivedAtRaw = p.received_at ?? um.received_at;\nconst ts = receivedAtRaw != null ? new Date(receivedAtRaw).getTime() : Date.now();\nconst rx = um.rx_metadata?.[0] || {};\nconst locUser = um.locations?.user || p.locations?.user || null;\nconst locGw = rx.location || null;\nconst lbp = p.last_battery_percentage ?? um.last_battery_percentage;\nconst bpVal = lbp && (lbp.value !== undefined && lbp.value !== null) ? lbp.value : (typeof lbp === 'number' ? lbp : null);\nconst decoded = um.decoded_payload;\nconst data = (decoded && typeof decoded === 'object') ? { ...decoded } : {};\ndelete data._msgid;\nif (Object.keys(data).length === 0) return null;\nconst entry = {\n  sensorName,\n  deviceId,\n  receivedAt: ts,\n  data,\n  signal: { snr: rx.snr ?? null, channel_rssi: rx.channel_rssi ?? null, rssi: rx.rssi ?? null },\n  last_battery_percentage: (lbp != null || bpVal != null) ? { value: bpVal, unit: '%' } : null,\n  locationUser: locUser ? { latitude: locUser.latitude ?? null, longitude: locUser.longitude ?? null, altitude: locUser.altitude ?? null } : null,\n  locationGateway: locGw ? { latitude: locGw.latitude ?? null, longitude: locGw.longitude ?? null, altitude: locGw.altitude ?? null } : null,\n  ts\n};\nlet lorawan = global.get('lorawan') || {};\nlet list = lorawan[sensorName] || [];\nlist.push(entry);\nlist.sort((a, b) => a.ts - b.ts);\nif (list.length > MAX) list = list.slice(-MAX);\nlorawan[sensorName] = list;\nglobal.set('lorawan', lorawan);\nmsg.payload = entry;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":100,"wires":[["d4b8e02cae31f332"]]},
    {"id":"lorawan_inject_001","type":"inject","z":"lorawan_tab_001","name":"Every 15 min","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"900","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":220,"wires":[["lorawan_func_002"]]},
    {"id":"lorawan_func_002","type":"function","z":"lorawan_tab_001","name":"Latest per sensor (<2h) → payload","func":"const TWO_HOURS = 12 * 60 * 60 * 1000;\nconst now = Date.now();\nconst lorawan = global.get('lorawan') || {};\nconst out = {};\nfor (const sensor of Object.keys(lorawan)) {\n  const list = lorawan[sensor];\n  if (!Array.isArray(list) || list.length === 0) continue;\n  const latest = list[list.length - 1];\n  const age = now - (latest.ts ?? latest.receivedAt ?? 0);\n  if (age < TWO_HOURS) out[sensor] = latest;\n}\nmsg.payload = out;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":220,"wires":[["lorawan_debug_001"]]},
    {"id":"lorawan_debug_001","type":"debug","z":"lorawan_tab_001","name":"Latest sensors (2h)","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":220,"wires":[]},
    {"id":"d4b8e02cae31f332","type":"debug","z":"lorawan_tab_001","name":"Stored entry","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":830,"y":100,"wires":[]},
    {"id":"e73e98078c7903ed","type":"debug","z":"lorawan_tab_001","name":"Raw uplink","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":560,"y":60,"wires":[]}
]
