lorawan/nr.json
[{"id":"cfa1eca42eaa0a7f","type":"inject","z":"c7da1a90c35ffc44","name":"Test lr-temp-humid-001","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"end_device_ids\":{\"device_id\":\"lr-temp-humid-001\",\"application_ids\":{\"application_id\":\"my-app-tobi\"},\"dev_eui\":\"A84041703E5FB473\",\"join_eui\":\"A840410000000101\",\"dev_addr\":\"260C4EDE\"},\"correlation_ids\":[\"gs:uplink:01KGGDY4WJPM01F71XHMG768J8\"],\"received_at\":\"2026-02-03T00:20:16.612387242Z\",\"uplink_message\":{\"session_key_id\":\"AZwC/t/UpSU7wuzavhRrNQ==\",\"f_port\":2,\"f_cnt\":899,\"frm_payload\":\"DhBpgT+VAAAjA7A=\",\"decoded_payload\":{\"BatV\":3.6,\"Data_time\":\"2026-02-03 00:21:41\",\"Door_status\":\"OPEN\",\"EXTI_Trigger\":false,\"Hum_SHT31\":94.4,\"Node_type\":\"S31-LB\",\"TempC_SHT31\":3.5},\"rx_metadata\":[{\"gateway_ids\":{\"gateway_id\":\"gw-the-woods\",\"eui\":\"AC1F09FFFE218BE1\"},\"time\":\"2026-02-03T00:20:16.149Z\",\"timestamp\":404898447,\"rssi\":-60,\"channel_rssi\":-60,\"snr\":11.5,\"location\":{\"latitude\":48.7139027681564,\"longitude\":-122.013881206512,\"altitude\":1500,\"source\":\"SOURCE_REGISTRY\"}}],\"received_at\":\"2026-02-03T00:20:16.403581119Z\",\"locations\":{\"user\":{\"latitude\":48.7214,\"longitude\":-122.0198,\"altitude\":1442,\"source\":\"SOURCE_REGISTRY\"}},\"last_battery_percentage\":{\"f_cnt\":893,\"value\":99.20949,\"received_at\":\"2026-02-02T18:20:19.952591250Z\"},\"attributes\":{\"name\":\"North Twin Approach\",\"elevation\":\"4,730 feet\"}}}","payloadType":"json","x":240,"y":380,"wires":[["8e05f8d3d5c2ad12"]]},{"id":"da05cfe70a60da7c","type":"inject","z":"c7da1a90c35ffc44","name":"Test lr-distance-sensor","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"end_device_ids\":{\"device_id\":\"lr-distance-sensor\",\"application_ids\":{\"application_id\":\"my-app-tobi\"},\"dev_eui\":\"A8404144565FBD0A\",\"join_eui\":\"A840410000000101\",\"dev_addr\":\"260C81D8\"},\"correlation_ids\":[\"gs:uplink:01KGGGGM09RV22JDD6T073YZ1A\"],\"received_at\":\"2026-02-03T01:05:19.062496974Z\",\"uplink_message\":{\"session_key_id\":\"AZwfULbCBnGSGxG0GsLuDA==\",\"f_port\":2,\"f_cnt\":10,\"frm_payload\":\"DQMFRAAMzAE=\",\"decoded_payload\":{\"Bat\":3.331,\"Distance\":1348,\"Interrupt_flag\":0,\"Node_type\":\"DDS75-LB\",\"Sensor_flag\":1,\"TempC_DS18B20\":32.76},\"rx_metadata\":[{\"gateway_ids\":{\"gateway_id\":\"gw-the-woods\",\"eui\":\"AC1F09FFFE218BE1\"},\"rssi\":-55,\"channel_rssi\":-55,\"snr\":12.2,\"location\":{\"latitude\":48.7139027681564,\"longitude\":-122.013881206512,\"altitude\":1500,\"source\":\"SOURCE_REGISTRY\"}}],\"received_at\":\"2026-02-03T01:05:18.858056840Z\",\"locations\":{\"user\":{\"latitude\":48.7214,\"longitude\":-122.0198,\"altitude\":1442,\"source\":\"SOURCE_REGISTRY\"}},\"last_battery_percentage\":{\"f_cnt\":1,\"value\":100,\"received_at\":\"2026-02-02T17:05:19.879971381Z\"},\"attributes\":{\"name\":\"Snow Depth Sensor\"}}}","payloadType":"json","x":240,"y":420,"wires":[["8e05f8d3d5c2ad12"]]},{"id":"50aa1fb03e49d829","type":"mqtt in","z":"c7da1a90c35ffc44","name":"TTN uplinks","topic":"v3/my-app-tobi@ttn/devices/+/up","qos":"0","datatype":"json","broker":"4e91dd5ffb6a9ee8","nl":false,"rap":false,"rh":0,"inputs":0,"x":210,"y":300,"wires":[["8e05f8d3d5c2ad12","590dda974d4fb7cf"]]},{"id":"8e05f8d3d5c2ad12","type":"function","z":"c7da1a90c35ffc44","name":"Extract and store (last 20)","func":"const MAX = 20;\nconst raw = typeof msg.payload === 'string' ? JSON.parse(msg.payload) : msg.payload;\nconst p = raw && raw.payload && raw.payload.end_device_ids ? raw.payload : raw;\nif (!p || !p.end_device_ids || !p.uplink_message) return null;\nconst um = p.uplink_message;\nconst deviceId = p.end_device_ids.device_id;\nconst nameAttr = um.attributes?.name ?? p.attributes?.name;\nconst sensorName = (nameAttr != null && String(nameAttr).trim() !== '') ? String(nameAttr).trim() : deviceId;\nconst receivedAtRaw = p.received_at ?? um.received_at;\nconst ts = receivedAtRaw != null ? new Date(receivedAtRaw).getTime() : Date.now();\nconst rx = um.rx_metadata?.[0] || {};\nconst locUser = um.locations?.user || p.locations?.user || null;\nconst locGw = rx.location || null;\nconst lbp = p.last_battery_percentage ?? um.last_battery_percentage;\nconst bpVal = lbp && (lbp.value !== undefined && lbp.value !== null) ? lbp.value : (typeof lbp === 'number' ? lbp : null);\nconst decoded = um.decoded_payload;\nconst data = (decoded && typeof decoded === 'object') ? { ...decoded } : {};\ndelete data._msgid;\nconst entry = {\n  sensorName,\n  deviceId,\n  receivedAt: ts,\n  data,\n  signal: {\n    snr: rx.snr ?? null,\n    channel_rssi: rx.channel_rssi ?? null,\n    rssi: rx.rssi ?? null\n  },\n  last_battery_percentage: (lbp != null || bpVal != null) ? { value: bpVal, unit: '%' } : null,\n  locationUser: locUser ? {\n    latitude: locUser.latitude ?? null,\n    longitude: locUser.longitude ?? null,\n    altitude: locUser.altitude ?? null\n  } : null,\n  locationGateway: locGw ? {\n    latitude: locGw.latitude ?? null,\n    longitude: locGw.longitude ?? null,\n    altitude: locGw.altitude ?? null\n  } : null,\n  ts\n};\nlet lorawan = global.get('lorawan', 'file') || {};\nlet list = lorawan[sensorName] || [];\nlist.push(entry);\nlist.sort((a, b) => a.ts - b.ts);\nif (list.length > MAX) list = list.slice(-MAX);\nlorawan[sensorName] = list;\nglobal.set('lorawan', lorawan, 'file');\nmsg.payload = entry;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":400,"wires":[["ea21b69e93038f90"]]},{"id":"6bd7b13babec6704","type":"function","z":"c7da1a90c35ffc44","name":"Latest per sensor (<2h) → payload","func":"const TWO_HOURS = 12 * 60 * 60 * 1000;\nconst now = Date.now();\nconst lorawan = global.get('lorawan', 'file') || {};\nconst out = {};\nfor (const sensor of Object.keys(lorawan)) {\n  const list = lorawan[sensor];\n  if (!Array.isArray(list) || list.length === 0) continue;\n  const latest = list[list.length - 1];\n  const age = now - (latest.ts ?? latest.receivedAt ?? 0);\n  if (age < TWO_HOURS) out[sensor] = latest;\n}\nmsg.payload = out;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":600,"wires":[["ebec398349e08081","c8b9ad89e38ab21e","d6d407c4878a38d3"]]},{"id":"ea21b69e93038f90","type":"debug","z":"c7da1a90c35ffc44","name":"Stored entry","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":400,"wires":[]},{"id":"590dda974d4fb7cf","type":"debug","z":"c7da1a90c35ffc44","name":"Raw uplink","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":300,"wires":[]},{"id":"ebec398349e08081","type":"switch","z":"c7da1a90c35ffc44","name":"North Twin Approach","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"North Twin Approach","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":820,"y":660,"wires":[["3cd8f6befe8b923c"],[]]},{"id":"e5f82689e0f21d74","type":"debug","z":"c7da1a90c35ffc44","name":"N Twin","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"statusCode","statusType":"msg","x":1650,"y":660,"wires":[]},{"id":"3cd8f6befe8b923c","type":"change","z":"c7da1a90c35ffc44","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"North Twin Approach\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":660,"wires":[["dba3d46ccaa24bc6","682721a80a0d6cb9"]]},{"id":"dba3d46ccaa24bc6","type":"function","z":"c7da1a90c35ffc44","name":"A1QVv3Du","func":"\n\n\n/************ CONFIG ************/\nconst ONE_HOUR = 1.5 * 60 * 60 * 1000;\nconst stationId = \"A1QVv3Du\";\n/********************************/\n\n/************ HELPERS ************/\nfunction calculateDewPoint(temperature, humidity) {\n    if (humidity < 0 || humidity > 100) {\n        throw new Error(\"Humidity must be between 0 and 100\");\n    }\n    return temperature - ((100 - humidity) / 5);\n}\n\n// Normalize timestamp from HA input_datetime\nfunction normalizeTimestamp(ts) {\n    if (!ts) return NaN;\n\n    // Check if it's a number already (seconds or ms)\n    let t = Number(ts);\n    if (!isNaN(t)) {\n        if (t < 1e12) t = t * 1000; // seconds → ms\n        return t;\n    }\n\n    // Handle \"YYYY-MM-DD HH:MM:SS\" in UTC\n    // Split into date & time parts\n    const match = ts.match(/^(\\d{4})-(\\d{2})-(\\d{2}) (\\d{2}):(\\d{2}):(\\d{2})$/);\n    if (match) {\n        const [_, year, month, day, hour, min, sec] = match.map(Number);\n        // JS Date.UTC uses 0-indexed months\n        return Date.UTC(year, month - 1, day, hour, min, sec);\n    }\n\n    // fallback\n    const parsed = Date.parse(ts);\n    return isNaN(parsed) ? NaN : parsed;\n}\n/********************************/\n\n/************ READ INPUT: normalized payload or HA state ************/\nconst payload = msg.payload;\nconst isNormalized = payload && payload.sensorName != null && payload.deviceId != null && payload.data && typeof payload.data === \"object\";\n\nlet temp, rh, pressure_hpa, ts_raw;\n\nif (isNormalized) {\n    const d = payload.data;\n    temp = typeof d.TempC_SHT31 === \"number\" ? d.TempC_SHT31 : (typeof d.TempC_DS18B20 === \"number\" ? d.TempC_DS18B20 : parseFloat(d.TempC_SHT31 ?? d.TempC_DS18B20));\n    rh = typeof d.Hum_SHT31 === \"number\" ? d.Hum_SHT31 : parseFloat(d.Hum_SHT31 ?? d.Hum_SHT);\n    pressure_hpa = (d.pressure != null || d.Pressure_hpa != null) ? parseFloat(d.pressure ?? d.Pressure_hpa) : NaN;\n    const tsIn = payload.ts ?? payload.receivedAt;\n    ts_raw = typeof tsIn === \"number\" ? tsIn : (tsIn != null ? new Date(tsIn).getTime() : null);\n} else {\n\n}\n/***************************************/\n\n/************ VALIDATION ************/\nlet timestamp = typeof ts_raw === \"number\" ? ts_raw : normalizeTimestamp(ts_raw);\nconst now = Date.now();\n\nif (isNaN(temp) || isNaN(rh) || isNaN(timestamp)) {\n    node.warn(\"Invalid sensor or timestamp data\");\n    return null;\n}\nif (isNaN(pressure_hpa)) pressure_hpa = 0;\n\nconst ageMs = now - timestamp;\n/********************************/\n\n/************ CALCULATIONS ************/\nconst dewpoint = calculateDewPoint(temp, rh);\nconst pressure = pressure_hpa * 100;\n/********************************/\n\n\n/************ BUILD WINDY REQUEST ************/\nmsg.method = \"GET\";\n\nlet url =\n    `https://stations.windy.com/api/v2/observation/update` +\n    `?id=${stationId}` +\n    `&time=now` +\n    `&temp=${temp}` +\n    `&humidity=${rh}` +\n    `&dewpoint=${dewpoint}`;\n\nif (pressure >= 50000) {\n    url += `&pressure=${pressure}`;\n}\n\nmsg.url = url;\n\nmsg.timestamp = timestamp;\nmsg.age_ms = ageMs;\n/********************************/\n\n\n/************ ROUTING ************/\nif (ageMs <= ONE_HOUR && ageMs >= 0) {\n    msg.fresh = true;\n    msg.status = \"fresh\";\n    return [msg, null];   // Output 1 = fresh\n} else {\n    msg.fresh = false;\n    msg.status = \"stale\";\n    return [null, msg];   // Output 2 = stale\n}\n","outputs":2,"timeout":30,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1230,"y":660,"wires":[["682721a80a0d6cb9"],[]]},{"id":"d6a2a3b08425c445","type":"http request","z":"c7da1a90c35ffc44","name":"Send to Windy TWx1","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"bearer","senderr":false,"headers":[],"x":1440,"y":660,"wires":[["e5f82689e0f21d74"]]},{"id":"snow_depth_format","type":"function","z":"c7da1a90c35ffc44","name":"Format JSON","func":"const state = msg.payload;\nconst attributes = msg.payload.attributes || {};\nconst now = new Date().toISOString();\n\nmsg.payload = {\n    \"value\": state,\n    \"unit\": attributes.unit_of_measurement || \"mm\",\n    \"timestamp\": msg.payload.last_updated || now,\n    \"last_updated\": now\n};\n\nmsg.filename = \"../../../webcam/webcams/snow_depth.json\";\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":200,"wires":[["snow_depth_write"]]},{"id":"snow_depth_write","type":"file","z":"c7da1a90c35ffc44","name":"Write snow_depth.json","filename":"filename","filenameType":"msg","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"utf8","x":1080,"y":200,"wires":[[]]},{"id":"09bd3ba1b5f92224","type":"catch","z":"c7da1a90c35ffc44","name":"","scope":null,"uncaught":false,"x":200,"y":80,"wires":[["f7d4b5b9a8f83fe6"]]},{"id":"f7d4b5b9a8f83fe6","type":"debug","z":"c7da1a90c35ffc44","name":"debug 20","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":400,"y":80,"wires":[]},{"id":"2a42bc0950250ed8","type":"api-current-state","z":"c7da1a90c35ffc44","name":"","server":"85b918fc1d4c8834","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.north_twin_snow_depth","state_type":"num","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"number","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":500,"y":200,"wires":[["snow_depth_format","85cfa6405432c7f8"]]},{"id":"85cfa6405432c7f8","type":"debug","z":"c7da1a90c35ffc44","name":"debug 91","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":840,"y":140,"wires":[]},{"id":"c8b9ad89e38ab21e","type":"switch","z":"c7da1a90c35ffc44","name":"Baker View Turn in Forest","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"Baker View Turn in Forest","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":760,"wires":[["e3a7c891bf5113f5"],[]]},{"id":"e3a7c891bf5113f5","type":"change","z":"c7da1a90c35ffc44","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"Baker View Turn in Forest\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":760,"wires":[["304b10223fe71788"]]},{"id":"f3382ac69b5aeed6","type":"inject","z":"c7da1a90c35ffc44","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"end_device_ids\":{\"device_id\":\"lr-temp-humid-002\",\"application_ids\":{\"application_id\":\"my-app-tobi\"},\"dev_eui\":\"A84041FE2E5FB476\",\"join_eui\":\"A840410000000101\",\"dev_addr\":\"260CBDBA\"},\"correlation_ids\":[\"gs:uplink:01KGNY2SHM6Y8H39G499B0TSFA\"],\"received_at\":\"2026-02-05T03:38:38.209078884Z\",\"uplink_message\":{\"session_key_id\":\"AZwnckABqf0AiC7a99jHcA==\",\"f_port\":2,\"f_cnt\":66,\"frm_payload\":\"DhBphBEQAABpAYY=\",\"decoded_payload\":{\"BatV\":3.6, \"Data_time\":\"2026-02-05 03:40:00\", \"Door_status\":\"OPEN\", \"EXTI_Trigger\":false, \"Hum_SHT31\":39, \"Node_type\":\"S31-LB\", \"TempC_SHT31\":10.5},\"rx_metadata\":[{\"gateway_ids\":{\"gateway_id\":\"gw-the-woods\",\"eui\":\"AC1F09FFFE218BE1\"},\"time\":\"2026-02-05T03:38:37.720Z\",\"timestamp\":2437050866,\"fine_timestamp\":\"415932266\",\"rssi\":-109,\"channel_rssi\":-109,\"snr\":-6,\"frequency_offset\":\"587\",\"location\":{\"latitude\":48.7139027681564,\"longitude\":-122.013881206512,\"altitude\":1500,\"source\":\"SOURCE_REGISTRY\"},\"uplink_token\":\"ChoKGAoMZ3ctdGhlLXdvb2RzEgisHwn//iGL4RDy44mKCRoLCL6hkMwGEKv1vwEg0LK03PbAAioMCL2hkMwGEICoqdcC\",\"channel_index\":2,\"gps_time\":\"2026-02-05T03:38:37.720Z\",\"received_at\":\"2026-02-05T03:38:38.003144363Z\"}],\"settings\":{\"data_rate\":{\"lora\":{\"bandwidth\":125000, \"spreading_factor\":10, \"coding_rate\":\"4/5\"}}, \"frequency\":\"904300000\", \"timestamp\":2437050866, \"time\":\"2026-02-05T03:38:37.720Z\"},\"received_at\":\"2026-02-05T03:38:38.004568541Z\",\"consumed_airtime\":\"0.370688s\",\"packet_error_rate\":0.33333334,\"locations\":{\"user\":{\"latitude\":48.7463843768404,\"longitude\":-122.018239900362,\"altitude\":410,\"source\":\"SOURCE_REGISTRY\"}},\"network_ids\":{\"net_id\":\"000013\",\"ns_id\":\"EC656E0000000182\",\"tenant_id\":\"ttn\",\"cluster_id\":\"nam1\",\"cluster_address\":\"nam1.cloud.thethings.network\"},\"last_battery_percentage\":{\"f_cnt\":56, \"value\":99.20949, \"received_at\":\"2026-02-05T00:38:45.414106838Z\"},\"attributes\":{\"name\":\"Baker View Turn in Forest\"}}}","payloadType":"json","x":190,"y":460,"wires":[["8e05f8d3d5c2ad12"]]},{"id":"711b6322898c4827","type":"file in","z":"c7da1a90c35ffc44","name":"","filename":"../../../webcam/webcams/n_twin/external_temperature.json","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":540,"y":1000,"wires":[["104d5bf6c47cd3b6"]]},{"id":"104d5bf6c47cd3b6","type":"json","z":"c7da1a90c35ffc44","name":"","property":"payload","action":"","pretty":false,"x":850,"y":1000,"wires":[["39aa8a60f83dbe99"]]},{"id":"7be611482433381d","type":"function","z":"c7da1a90c35ffc44","name":"C3a6fzcS","func":"\n\n\n/************ CONFIG ************/\nconst ONE_HOUR = 1.5 * 60 * 60 * 1000;\nconst stationId = \"C3a6fzcS\";\n/********************************/\n\n/************ HELPERS ************/\nfunction calculateDewPoint(temperature, humidity) {\n    if (humidity < 0 || humidity > 100) {\n        throw new Error(\"Humidity must be between 0 and 100\");\n    }\n    return temperature - ((100 - humidity) / 5);\n}\n\n// Normalize timestamp from HA input_datetime\nfunction normalizeTimestamp(ts) {\n    if (!ts) return NaN;\n\n    // Check if it's a number already (seconds or ms)\n    let t = Number(ts);\n    if (!isNaN(t)) {\n        if (t < 1e12) t = t * 1000; // seconds → ms\n        return t;\n    }\n\n    // Handle \"YYYY-MM-DD HH:MM:SS\" in UTC\n    // Split into date & time parts\n    const match = ts.match(/^(\\d{4})-(\\d{2})-(\\d{2}) (\\d{2}):(\\d{2}):(\\d{2})$/);\n    if (match) {\n        const [_, year, month, day, hour, min, sec] = match.map(Number);\n        // JS Date.UTC uses 0-indexed months\n        return Date.UTC(year, month - 1, day, hour, min, sec);\n    }\n\n    // fallback\n    const parsed = Date.parse(ts);\n    return isNaN(parsed) ? NaN : parsed;\n}\n/********************************/\n\n/************ READ INPUT: normalized payload or HA state ************/\nconst payload = msg.payload;\nconst isNormalized = payload && payload.sensorName != null && payload.deviceId != null && payload.data && typeof payload.data === \"object\";\n\nlet temp, rh, pressure_hpa, ts_raw;\n\nif (isNormalized) {\n    const d = payload.data;\n    temp = typeof d.TempC_SHT31 === \"number\" ? d.TempC_SHT31 : (typeof d.TempC_DS18B20 === \"number\" ? d.TempC_DS18B20 : parseFloat(d.TempC_SHT31 ?? d.TempC_DS18B20));\n    rh = typeof d.Hum_SHT31 === \"number\" ? d.Hum_SHT31 : parseFloat(d.Hum_SHT31 ?? d.Hum_SHT);\n    pressure_hpa = (d.pressure != null || d.Pressure_hpa != null) ? parseFloat(d.pressure ?? d.Pressure_hpa) : NaN;\n    const tsIn = payload.ts ?? payload.receivedAt;\n    ts_raw = typeof tsIn === \"number\" ? tsIn : (tsIn != null ? new Date(tsIn).getTime() : null);\n} else {\n\n}\n/***************************************/\n\n/************ VALIDATION ************/\nlet timestamp = typeof ts_raw === \"number\" ? ts_raw : normalizeTimestamp(ts_raw);\nconst now = Date.now();\n\n//|| isNaN(rh)\n\nif (isNaN(temp) || isNaN(timestamp)) {\n    node.warn(\"Invalid sensor or timestamp data\");\n    return null;\n}\nif (isNaN(pressure_hpa)) pressure_hpa = 0;\n\nconst ageMs = now - timestamp;\n/********************************/\n\n/************ CALCULATIONS ************/\nconst dewpoint = calculateDewPoint(temp, rh);\nconst pressure = pressure_hpa * 100;\n/********************************/\n\n\n/************ BUILD WINDY REQUEST ************/\nmsg.method = \"GET\";\n\nlet url =\n    `https://stations.windy.com/api/v2/observation/update` +\n    `?id=${stationId}` +\n    `&time=now` +\n    `&temp=${temp}`\n\nif (pressure >= 50000) {\n    url += `&pressure=${pressure}`;\n}\n\nif (rh) {\n    url += `&humidity=${rh}`;\n    url += `&dewpoint=${dewpoint}`;\n}\n\nmsg.url = url;\n\nmsg.timestamp = timestamp;\nmsg.age_ms = ageMs;\n/********************************/\n\n\n/************ ROUTING ************/\nif (ageMs <= ONE_HOUR && ageMs >= 0) {\n    msg.fresh = true;\n    msg.status = \"fresh\";\n    return [msg, null];   // Output 1 = fresh\n} else {\n    msg.fresh = false;\n    msg.status = \"stale\";\n    return [null, msg];   // Output 2 = stale\n}\n","outputs":2,"timeout":30,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1180,"y":1000,"wires":[["9c2ddedc1e28b712"],[]]},{"id":"39aa8a60f83dbe99","type":"function","z":"c7da1a90c35ffc44","name":"function 26","func":"\nconst d = new Date(msg.payload.timestamp).getTime();\n\nvar newpay = {\n    data: {\n        TempC_SHT31: msg.payload.temperature_c\n    },\n    ts: d,\n    sensorName: \"NTwinCamp\",\n    deviceId: 869487067935238\n}\nmsg.payload = newpay;\nreturn msg;","outputs":1,"timeout":30,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1010,"y":1000,"wires":[["7be611482433381d"]]},{"id":"304b10223fe71788","type":"function","z":"c7da1a90c35ffc44","name":"C3a6fzcS - Baker View Corner @ MF-ML 7.5 mi","func":"\n\n\n/************ CONFIG ************/\nconst ONE_HOUR = 1.5 * 60 * 60 * 1000;\nconst stationId = \"C3a6fzcS\";\n/********************************/\n\n/************ HELPERS ************/\nfunction calculateDewPoint(temperature, humidity) {\n    if (humidity < 0 || humidity > 100) {\n        throw new Error(\"Humidity must be between 0 and 100\");\n    }\n    return temperature - ((100 - humidity) / 5);\n}\n\n// Normalize timestamp from HA input_datetime\nfunction normalizeTimestamp(ts) {\n    if (!ts) return NaN;\n\n    // Check if it's a number already (seconds or ms)\n    let t = Number(ts);\n    if (!isNaN(t)) {\n        if (t < 1e12) t = t * 1000; // seconds → ms\n        return t;\n    }\n\n    // Handle \"YYYY-MM-DD HH:MM:SS\" in UTC\n    // Split into date & time parts\n    const match = ts.match(/^(\\d{4})-(\\d{2})-(\\d{2}) (\\d{2}):(\\d{2}):(\\d{2})$/);\n    if (match) {\n        const [_, year, month, day, hour, min, sec] = match.map(Number);\n        // JS Date.UTC uses 0-indexed months\n        return Date.UTC(year, month - 1, day, hour, min, sec);\n    }\n\n    // fallback\n    const parsed = Date.parse(ts);\n    return isNaN(parsed) ? NaN : parsed;\n}\n/********************************/\n\n/************ READ INPUT: normalized payload or HA state ************/\nconst payload = msg.payload;\nconst isNormalized = payload && payload.sensorName != null && payload.deviceId != null && payload.data && typeof payload.data === \"object\";\n\nlet temp, rh, pressure_hpa, ts_raw;\n\nif (isNormalized) {\n    const d = payload.data;\n    temp = typeof d.TempC_SHT31 === \"number\" ? d.TempC_SHT31 : (typeof d.TempC_DS18B20 === \"number\" ? d.TempC_DS18B20 : parseFloat(d.TempC_SHT31 ?? d.TempC_DS18B20));\n    rh = typeof d.Hum_SHT31 === \"number\" ? d.Hum_SHT31 : parseFloat(d.Hum_SHT31 ?? d.Hum_SHT);\n    pressure_hpa = (d.pressure != null || d.Pressure_hpa != null) ? parseFloat(d.pressure ?? d.Pressure_hpa) : NaN;\n    const tsIn = payload.ts ?? payload.receivedAt;\n    ts_raw = typeof tsIn === \"number\" ? tsIn : (tsIn != null ? new Date(tsIn).getTime() : null);\n} else {\n\n}\n/***************************************/\n\n/************ VALIDATION ************/\nlet timestamp = typeof ts_raw === \"number\" ? ts_raw : normalizeTimestamp(ts_raw);\nconst now = Date.now();\n\nif (isNaN(temp) || isNaN(rh) || isNaN(timestamp)) {\n    node.warn(\"Invalid sensor or timestamp data\");\n    return null;\n}\nif (isNaN(pressure_hpa)) pressure_hpa = 0;\n\nconst ageMs = now - timestamp;\n/********************************/\n\n/************ CALCULATIONS ************/\nconst dewpoint = calculateDewPoint(temp, rh);\nconst pressure = pressure_hpa * 100;\n/********************************/\n\n\n/************ BUILD WINDY REQUEST ************/\nmsg.method = \"GET\";\n\nlet url =\n    `https://stations.windy.com/api/v2/observation/update` +\n    `?id=${stationId}` +\n    `&time=now` +\n    `&temp=${temp}`\n\nif (pressure >= 50000) {\n    url += `&pressure=${pressure}`;\n}\n\nif (rh) {\n    url += `&humidity=${rh}`;\n    url += `&dewpoint=${dewpoint}`;\n}\n\nmsg.url = url;\n\nmsg.timestamp = timestamp;\nmsg.age_ms = ageMs;\n/********************************/\n\n\n/************ ROUTING ************/\nif (ageMs <= ONE_HOUR && ageMs >= 0) {\n    msg.fresh = true;\n    msg.status = \"fresh\";\n    return [msg, null];   // Output 1 = fresh\n} else {\n    msg.fresh = false;\n    msg.status = \"stale\";\n    return [null, msg];   // Output 2 = stale\n}\n","outputs":2,"timeout":30,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1340,"y":760,"wires":[["7c0d4fbc3abfbd5b"],[]]},{"id":"01bf71adaf82fba8","type":"http request","z":"c7da1a90c35ffc44","name":"Send to Windy TWx1","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"bearer","senderr":false,"headers":[],"x":1600,"y":1000,"wires":[[]]},{"id":"9c2ddedc1e28b712","type":"change","z":"c7da1a90c35ffc44","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"filename","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1380,"y":1000,"wires":[["01bf71adaf82fba8"]]},{"id":"9d0ee71a3744d52e","type":"time-inject","z":"c7da1a90c35ffc44","name":"Time inject","nameInt":"¹* */2 * * * = {}","positionConfig":"42aa7c243d68af46","props":[{"p":"","pt":"msgPayload","v":"{}","vt":"json","o":"","oT":"none","oM":"60000","f":0,"fS":0,"fT":"UNIX timestamp (ms)","fI":"0","next":true,"days":"*","months":"*","onlyOddDays":false,"onlyEvenDays":false,"onlyOddWeeks":false,"onlyEvenWeeks":false},{"p":"","pt":"msgTopic","v":"make_message","vt":"str","o":"","oT":"none","oM":"60000","f":0,"fS":0,"fT":"UNIX timestamp (ms)","fI":"0","next":false,"days":"*","months":"*","onlyOddDays":false,"onlyEvenDays":false,"onlyOddWeeks":false,"onlyEvenWeeks":false}],"injectTypeSelect":"cron","intervalCount":"15","intervalCountType":"num","intervalCountMultiplier":60000,"cron":"* */2 * * *","cronType":"cronexpr","time":"7:00:30","timeType":"entered","offset":0,"offsetType":"none","offsetMultiplier":60000,"timeEnd":"22:00:30","timeEndType":"entered","timeEndOffset":0,"timeEndOffsetType":"none","timeEndOffsetMultiplier":60000,"timeDays":"*","timeOnlyOddDays":false,"timeOnlyEvenDays":false,"timeOnlyOddWeeks":false,"timeOnlyEvenWeeks":false,"timeMonths":"*","timedatestart":"","timedateend":"","property":"","propertyType":"none","propertyCompare":"true","propertyThreshold":"","propertyThresholdType":"num","timeAlt":"","timeAltType":"entered","timeAltDays":"*","timeAltOnlyOddDays":false,"timeAltOnlyEvenDays":false,"timeAltOnlyOddWeeks":false,"timeAltOnlyEvenWeeks":false,"timeAltMonths":"*","timeAltOffset":0,"timeAltOffsetType":"none","timeAltOffsetMultiplier":60000,"once":true,"onceDelay":"5","recalcTime":2,"x":220,"y":200,"wires":[["2a42bc0950250ed8"]]},{"id":"3a94cf804da5fece","type":"time-inject","z":"c7da1a90c35ffc44","name":"Time inject","nameInt":"¹*/15 * * * * = {}","positionConfig":"42aa7c243d68af46","props":[{"p":"","pt":"msgPayload","v":"{}","vt":"json","o":"","oT":"none","oM":"60000","f":0,"fS":0,"fT":"UNIX timestamp (ms)","fI":"0","next":true,"days":"*","months":"*","onlyOddDays":false,"onlyEvenDays":false,"onlyOddWeeks":false,"onlyEvenWeeks":false},{"p":"","pt":"msgTopic","v":"make_message","vt":"str","o":"","oT":"none","oM":"60000","f":0,"fS":0,"fT":"UNIX timestamp (ms)","fI":"0","next":false,"days":"*","months":"*","onlyOddDays":false,"onlyEvenDays":false,"onlyOddWeeks":false,"onlyEvenWeeks":false}],"injectTypeSelect":"cron","intervalCount":"15","intervalCountType":"num","intervalCountMultiplier":60000,"cron":"*/15 * * * *","cronType":"cronexpr","time":"7:00:30","timeType":"entered","offset":0,"offsetType":"none","offsetMultiplier":60000,"timeEnd":"22:00:30","timeEndType":"entered","timeEndOffset":0,"timeEndOffsetType":"none","timeEndOffsetMultiplier":60000,"timeDays":"*","timeOnlyOddDays":false,"timeOnlyEvenDays":false,"timeOnlyOddWeeks":false,"timeOnlyEvenWeeks":false,"timeMonths":"*","timedatestart":"","timedateend":"","property":"","propertyType":"none","propertyCompare":"true","propertyThreshold":"","propertyThresholdType":"num","timeAlt":"","timeAltType":"entered","timeAltDays":"*","timeAltOnlyOddDays":false,"timeAltOnlyEvenDays":false,"timeAltOnlyOddWeeks":false,"timeAltOnlyEvenWeeks":false,"timeAltMonths":"*","timeAltOffset":0,"timeAltOffsetType":"none","timeAltOffsetMultiplier":60000,"once":true,"onceDelay":"5","recalcTime":2,"x":200,"y":600,"wires":[["6bd7b13babec6704"]]},{"id":"7c0d4fbc3abfbd5b","type":"http request","z":"c7da1a90c35ffc44","name":"Send to Windy TWx1","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"bearer","senderr":false,"headers":[],"x":1660,"y":760,"wires":[["4728564c2c022619"]]},{"id":"4728564c2c022619","type":"debug","z":"c7da1a90c35ffc44","name":"Baker View Corner","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"statusCode","statusType":"msg","x":1910,"y":760,"wires":[]},{"id":"682721a80a0d6cb9","type":"debug","z":"c7da1a90c35ffc44","name":"debug 92","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1430,"y":500,"wires":[]},{"id":"d6d407c4878a38d3","type":"debug","z":"c7da1a90c35ffc44","name":"debug 93","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":540,"wires":[]},{"id":"4e91dd5ffb6a9ee8","type":"mqtt-broker","name":"mqtt.tableman.com","broker":"mqtt.tableman.com","port":1883,"clientid":"node-red","autoConnect":true,"usetls":false,"protocolVersion":"5","keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"85b918fc1d4c8834","type":"server","name":"Home Assistant","version":6,"addon":false,"rejectUnauthorizedCerts":false,"ha_boolean":["y","yes","true","on","home","open"],"connectionDelay":true,"cacheJson":true,"heartbeat":true,"heartbeatInterval":"15","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":": ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m:s","enableGlobalContextStore":true},{"id":"42aa7c243d68af46","type":"position-config","name":"Bellingham","isValide":"true","angleType":"deg","timeZoneOffset":99,"timeZoneDST":0,"stateTimeFormat":"3","stateDateFormat":"12","contextStore":"file"},{"id":"8927d942222905b6","type":"global-config","env":[],"modules":{"node-red-contrib-home-assistant-websocket":"0.80.3","node-red-contrib-sun-position":"2.2.0-beta3"}}]